<div class="employee-list-container">
  <h2 class="list-title">Employee List</h2>
  <table class="employee-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
      
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.department }}</td>
        <td class="actions">
          <button class="btn btn-delete" (click)="deleteEmployee(employee.id)">Delete</button>
          <a class="btn btn-edit" [routerLink]="['/edit', employee.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-add" routerLink="/create">Add New Employee</a>
</div>